In [8]:
import pandas as pd

In [9]:
df_excel=pd.read_excel("reading_data//ornekx.xlsx")
df_excel

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [15]:
df_csv=pd.read_csv("reading_data//ornekcsv.csv",sep=";")
df_csv

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [19]:
df_txt=pd.read_csv("reading_data//duz_metin.txt")
df_txt

    1 2
0   2 2
1   3 2
2   4 2
3   5 2
4   6 2
5  7 2
6   8 2
7   9 2
8  10 2

In [20]:
df_html=pd.read_html("reading_data//tips.html")

ImportError: html5lib not found, please install it

In [22]:
df_txt1=pd.read_csv("reading_data//tips.txt")
df_txt1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4